* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
}

.container {
    max-width: 900px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
}

main {
    min-height: calc(100vh - 85px - 22px);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: aqua;
}

main a {
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

.active {
    color: orangered;
    cursor: default;
}

header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
}

header a {
    padding: 10px 20px;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    background-color: lightskyblue;
}